$bcd-primary: rgb(48, 45, 45);
$bcd-card: rgb(223, 153, 61);
$color-primary: rgb(223, 153, 61);

$breakpoints: (
  'xxs': '460px',
  'xs': '590px',
  'sm': '700px',
  'md': '768px',
  'lg': '942px',
  'xl': '1200px',
);
